<app-encabezado-principal></app-encabezado-principal>


<div class="hero-wrap img" style="background-image: url(assets/images/bg_3.jpeg);">
    <div class="overlay"></div>
        <div class="container">
            <div class="row d-md-flex no-gutters slider-text align-items-center justify-content-center">
                <div class="col-md-10 d-flex align-items-center ftco-animate" >
                    <div class="text text-center pt-5 mt-md-5">
                    <p class="mb-4" >Excelentes productos al alcance de un click!</p>
                    <h1 class="mb-5" >Comprar nunca había sido tan sencillo</h1>
                </div>
            </div>
        </div>
    </div>
</div>

<section class="ftco-section ftco-no-pt ftco-no-pb" style="background-color: beige !important;">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="category-wrap">
                    <div class="row no-gutters">
                        <div class="col-md-4" routerLink="/customers">
                            <div class="top-category text-center no-border-left">
                                <span>
                                    <img class="icon" src="../../../assets/images/shop-icon.png" alt="">
                                </span>
                                <h3><a routerLink="/customers">Cartago</a></h3>
                            </div>
                        </div>
                        <div class="col-md-4" routerLink="/invoices">
                            <div class="top-category text-center">
                                <span>
                                    <img class="icon" src="../../../assets/images/shop-icon.png" alt="">
                                </span>
                                <h3><a routerLink="/invoices">San José</a></h3>
                            </div>
                        </div>
                        <div class="col-md-4" routerLink="/suppliers">
                            <div class="top-category text-center">
                                <span>
                                    <img class="icon" src="../../../assets/images/shop-icon.png" alt="">
                                </span>
                                <h3><a routerLink="/suppliers">Heredia</a></h3>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>