<app-encabezado-vendedor></app-encabezado-vendedor>

<div class="hero-wrap hero-wrap-2" style="background-image: url('assets/images/bg_3.jpeg');"
    data-stellar-background-ratio="0.5">
    <div class="overlay"></div>
    <div class="container">
        <div class="row no-gutters slider-text align-items-end justify-content-start">
            <div class="col-md-12 ftco-animate text-center mb-5">
                <h1 class="mb-3 bread">Perfil vendedor</h1>
            </div>
        </div>
    </div>
</div>

<section class="ftco-section bg-light" style="padding-top: 1%; background-color: #ecf8f8 !important;">
    <div class="container">
        <div class="row my-2">
            <div class="col-lg-4 order-lg-1 text-center">
                <img src="https://picsum.photos/200?random=inicioSesionService.getDigitoRandom()" class="mx-auto img-fluid img-circle d-block img"
                    alt="Profile picture">
            </div>
            <div class="col-lg-8 order-lg-2">
                <ul class="nav nav-tabs">
                    <li class="nav-item">
                        <a href="" data-target="#info" data-toggle="tab"
                            class="nav-link active font-weight-bold">Información personal</a>
                    </li>
                </ul>
                <hr>
                <div class="tab-content py-4 customForm">
                    <div class="tab-pane active" id="info">
                        <form role="form">
                            <div class="form-group row col-lg-12">
                                <label class="font-weight-bold col-lg-3 col-form-label form-control-label">Nombre de usuario</label>
                                <div class="col-lg-8">
                                    <input disabled="true" class=" col-lg-8 col-form-label form-control-label"
                                        value="{{usuarioActual.getNombreUsuario()}}">
                                </div>
                            </div>
                            <hr>
                            <div class="form-group row col-lg-12">
                                <label class="font-weight-bold col-lg-3 col-form-label form-control-label">Contraseña</label>
                                <div class="col-lg-8">
                                    <input disabled="true" type="password" class=" col-lg-8 col-form-label form-control-label"
                                        value="{{usuarioActual.getContrasenia()}}">
                                </div>
                            </div>
                            <hr>
                            <div class="form-group row col-lg-12">
                                <label
                                    class="font-weight-bold col-lg-3 col-form-label form-control-label">Nombre</label>
                                <div class="col-lg-8">
                                    <input disabled="true" class="col-lg-8 col-form-label form-control-label"
                                        value="{{usuarioActual.getNombreCompleto()}}">
                                </div>
                            </div>
                            <hr>
                            <div class="form-group row col-lg-12">
                                <label
                                    class="font-weight-bold col-lg-3 col-form-label form-control-label">Identificación</label>
                                <div class="col-lg-8">
                                    <input disabled="true" class=" col-lg-8 col-form-label form-control-label"
                                        value="{{usuarioActual.getID()}}">
                                </div>
                            </div>
                            <hr>
                            <div class="form-group row col-lg-12">
                                <label class="font-weight-bold col-lg-3 col-form-label form-control-label">Tipo de
                                    identificación</label>
                                <div class="col-lg-8">
                                    <input disabled="true" class=" col-lg-8 col-form-label form-control-label"
                                        value="{{usuarioActual.getTipoID()}}">
                                </div>
                            </div>
                            <hr>
                            <div class="form-group row col-lg-12">
                                <label class="font-weight-bold col-lg-3 col-form-label form-control-label">Fecha de
                                    nacimiento</label>
                                <div class="col-lg-8">
                                    <input disabled="true" class=" col-lg-8 col-form-label form-control-label"
                                        value="{{usuarioActual.getFechaNacimiento()}}">
                                </div>
                            </div>
                            <hr>
                            <div class="form-group row col-lg-12">
                                <label class="font-weight-bold col-lg-3 col-form-label form-control-label">Teléfono
                                    primario</label>
                                <div class="col-lg-8">
                                    <input disabled="true" class=" col-lg-8 col-form-label form-control-label"
                                        value="{{usuarioActual.getTelefono1()}}">
                                </div>
                            </div>
                            <hr>
                            <div class="form-group row col-lg-12">
                                <label class="font-weight-bold col-lg-3 col-form-label form-control-label">Teléfono
                                    secundario</label>
                                <div class="col-lg-8">
                                    <input disabled="true" class=" col-lg-8 col-form-label form-control-label"
                                        value="{{usuarioActual.getTelefono2()}}">
                                </div>
                            </div>
                            <hr>
                            <div class="form-group row col-lg-12">
                                <label
                                    class="font-weight-bold col-lg-3 col-form-label form-control-label">Sucursal</label>
                                <div class="col-lg-8">
                                    <input disabled="true" class=" col-lg-8 col-form-label form-control-label"
                                        value="{{usuarioActual.getSucursal()}}">
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>